main{
    max-width: 100%;
}

main img{
    width: 100%;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.popup{
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    backdrop-filter: blur(6px);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-bx{
    max-width: 100%;
    width: 350px;
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.lock{
    max-width:  150px;
}



.login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.input-box {
    position: relative;
}

.input-box input {
    width: 100%;
    padding: 10px;
    padding-right: 35px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-box .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 10px;
}

.options a {
    color: #007bff;
    text-decoration: none;
}

.login-btn {
    background: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


/* From Uiverse.io by AbanoubMagdy1 */ 
.loader {
    --dim: 3rem;
    width: var(--dim);
    height: var(--dim);
    position: relative;
    animation: spin988 2s linear infinite;
  }
  
  .loader .circle {
    --color: #82df43;
    --dim: 1.2rem;
    width: var(--dim);
    height: var(--dim);
    background-color: var(--color);
    border-radius: 50%;
    position: absolute;
  }
  
  .loader .circle:nth-child(1) {
    top: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(2) {
    top: 0;
    right: 0;
  }
  
  .loader .circle:nth-child(3) {
    bottom: 0;
    left: 0;
  }
  
  .loader .circle:nth-child(4) {
    bottom: 0;
    right: 0;
  }
  
  @keyframes spin988 {
    0% {
      transform: scale(1) rotate(0);
    }
  
    20%, 25% {
      transform: scale(1.3) rotate(90deg);
    }
  
    45%, 50% {
      transform: scale(1) rotate(180deg);
    }
  
    70%, 75% {
      transform: scale(1.3) rotate(270deg);
    }
  
    95%, 100% {
      transform: scale(1) rotate(360deg);
    }
  }